<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Button trigger modal -->
<button type="button" class="specificUser" type="submit" data-toggle="modal" data-target="#exampleModal">
  View/Edit Profile
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email ID</th>
              <th scope="col">Password</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{id}}</th>
              <td>{{ name }}</td>
              <td>{{ email }}</td>
              <td>{{ password }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="specificUser" type="submit" data-toggle="modal" data-target="#exampleModal">
  View Trainees
</button>

<button type="button" class="specificUser" type="submit" data-toggle="modal" data-target="#exampleModal">
  View/Edit Profile
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Duration</th>
              <th scope="col">Tasks(ID)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{id}}</th>
              <td>{{ name }}</td>
              <td>{{ duration }}</td>
              <td>{{ tasksId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<form id="sendModule" action='/'>
  <input id="traineeId" type="text" name="traineeId">Trainee id:</input>
  <input id="moduleId" type="text" name="moduleId">Module id:</input>
  <input type="submit" name='submit' value="Send module">
</form>



<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Congratulations!</h2>
      <h5>You have logged in successfully.</h5>
      {{!-- <a class="btn btn-primary" href="/logout" role="button">Sign Out</a> --}}
    </div>
  </div>
</div>